<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.yuhan.erp.mapper.PoDetailMapper">
  <resultMap id="BaseResultMap" type="ltd.yuhan.erp.model.PoDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="poId" jdbcType="INTEGER" property="poid" />
    <result column="goodsId" jdbcType="INTEGER" property="goodsid" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="totalPrice" jdbcType="DECIMAL" property="totalprice" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from PoDetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="ltd.yuhan.erp.model.PoDetail">
    insert into PoDetail (id, poId, goodsId, 
      qty, totalPrice, createTime
      )
    values (#{id,jdbcType=INTEGER}, #{poid,jdbcType=INTEGER}, #{goodsid,jdbcType=INTEGER}, 
      #{qty,jdbcType=INTEGER}, #{totalprice,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="ltd.yuhan.erp.model.PoDetail">
    update PoDetail
    set poId = #{poid,jdbcType=INTEGER},
      goodsId = #{goodsid,jdbcType=INTEGER},
      qty = #{qty,jdbcType=INTEGER},
      totalPrice = #{totalprice,jdbcType=DECIMAL},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, poId, goodsId, qty, totalPrice, createTime
    from PoDetail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, poId, goodsId, qty, totalPrice, createTime
    from PoDetail
  </select>

  <select id="selectPoDetailByGoodsId" resultMap="BaseResultMap">
    select d.id, d.poId, d.goodsId, d.qty, d.totalPrice, d.createTime
    from PoDetail d join Po p on d.poId = p.id where d.goodsId = #{goodsId,jdbcType=INTEGER} and p.status = 0
  </select>

</mapper>