<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.yuhan.erp.mapper.ShoppingOrderMapper">
  <resultMap id="BaseResultMap" type="ltd.yuhan.erp.model.ShoppingOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shopper" jdbcType="VARCHAR" property="shopper" />
    <result column="totalQty" jdbcType="INTEGER" property="totalqty" />
    <result column="totalPrice" jdbcType="DECIMAL" property="totalprice" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ShoppingOrder
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ltd.yuhan.erp.model.ShoppingOrder">
    insert into ShoppingOrder (id, shopper, totalQty, 
      totalPrice, status, createBy, 
      createTime)
    values (#{id,jdbcType=BIGINT}, #{shopper,jdbcType=VARCHAR}, #{totalqty,jdbcType=INTEGER},
      #{totalprice,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{createby,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="ltd.yuhan.erp.model.ShoppingOrder">
    update ShoppingOrder
    set shopper = #{shopper,jdbcType=VARCHAR},
      totalQty = #{totalqty,jdbcType=INTEGER},
      totalPrice = #{totalprice,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      createBy = #{createby,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, shopper, totalQty, totalPrice, status, createBy, createTime
    from ShoppingOrder
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, shopper, totalQty, totalPrice, status, createBy, createTime
    from ShoppingOrder
  </select>


</mapper>