<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.yuhan.erp.mapper.ShoppingOrderMapper">
  <resultMap id="BaseResultMap" type="ltd.yuhan.erp.model.ShoppingOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shopper" jdbcType="VARCHAR" property="shopper" />
    <result column="totalQty" jdbcType="INTEGER" property="totalqty" />
    <result column="totalPrice" jdbcType="DECIMAL" property="totalprice" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ShoppingOrder
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ltd.yuhan.erp.model.ShoppingOrder">
    insert into ShoppingOrder (id, shopper, totalQty, 
      totalPrice, status, createBy, 
      createTime)
    values (#{id,jdbcType=BIGINT}, #{shopper,jdbcType=VARCHAR}, #{totalqty,jdbcType=INTEGER},
      #{totalprice,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{createby,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="ltd.yuhan.erp.model.ShoppingOrder">
    update ShoppingOrder
    set shopper = #{shopper,jdbcType=VARCHAR},
      totalQty = #{totalqty,jdbcType=INTEGER},
      totalPrice = #{totalprice,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      createBy = #{createby,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, shopper, totalQty, totalPrice, status, createBy, createTime
    from ShoppingOrder
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, shopper, totalQty, totalPrice, status, createBy, createTime
    from ShoppingOrder
  </select>

  <select id="getShoppingOrderByTerm"  resultMap="BaseResultMap">
    SELECT
    DISTINCT(s.id), s.shopper, s.totalQty, s.totalPrice, s.status, s.createBy, s.createTime
    FROM
    ShoppingOrder s,
    ShoppingOrderDetail d,
    Goods g
    WHERE
    d.shoppingOrderId = s.id
    AND g.id = d.goodsId
    <if test="orderId != '' and  orderId != null">
      AND s.id =  #{orderId,jdbcType=INTEGER}
    </if>
    <if test="category != null and category != '' ">
      and g.categoryId =  #{category,jdbcType=INTEGER}
    </if>
    <if test="goodsTitle != '' and  goodsTitle != null">
      AND g.title LIKE CONCAT('%', #{goodsTitle,jdbcType=VARCHAR},'%')
    </if>
    <if test="status != null and status != '' ">
      and s.status = #{status,jdbcType=INTEGER}
    </if>
    <if test="shopper != '' and  shopper != null">
      AND s.shopper LIKE CONCAT('%', #{shopper,jdbcType=VARCHAR},'%')
    </if>
    ORDER BY
    s.createTime ASC
  </select>


</mapper>