<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.yuhan.erp.mapper.WarehouseInMapper">
  <resultMap id="BaseResultMap" type="ltd.yuhan.erp.model.WarehouseIn">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="poId" jdbcType="INTEGER" property="poid" />
    <result column="goodsId" jdbcType="BIGINT" property="goodsid" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from WarehouseIn
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="ltd.yuhan.erp.model.WarehouseIn">
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into WarehouseIn (poId, goodsId,
      qty, createTime)
    values (#{poid,jdbcType=INTEGER}, #{goodsid,jdbcType=INTEGER},
      #{qty,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="ltd.yuhan.erp.model.WarehouseIn">
    update WarehouseIn
    set poId = #{poid,jdbcType=INTEGER},
      goodsId = #{goodsid,jdbcType=INTEGER},
      qty = #{qty,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, poId, goodsId, qty, createTime
    from WarehouseIn
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, poId, goodsId, qty, createTime
    from WarehouseIn
  </select>
  <select id="selectByGoodsId" parameterType="java.lang.Long" resultMap="BaseResultMap">
  select id, poId, goodsId, qty, createTime
  from WarehouseIn
  where goodsId = #{goodsId,jdbcType=BIGINT}
  </select>
  <select id="selectByPoId" resultMap="BaseResultMap">
  select id, poId, goodsId, qty, createTime
  from WarehouseIn
  where poId = #{poid,jdbcType=BIGINT}
  </select>
</mapper>